<!DOCTYPE html>
<html lang="pt">
<head>

<meta charset="UTF-8">
<title>Novo Usuário</title>

<link rel="stylesheet" href="/static/css/global.css">
<link rel="stylesheet" href="/static/css/login.css">

</head>

<body>

<div class="login-box">

<h2>Novo Usuário</h2>

<form method="POST">

<input name="nome" placeholder="Nome" required>

<input name="usuario" placeholder="Usuário" required>

<input type="password" name="senha" placeholder="Senha" required>

<input name="ip" placeholder="IP autorizado">

<button type="submit">Cadastrar</button>

</form>

</div>

</body>
</html>